.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 37.75rem;
    height: 100vh;
    gap: 0.75rem;
    margin-top: 3rem;
    padding: 0;
}

@media (max-width: 768px) {
    .menuContainer {
        width: 90vw;
    }
}

.menuHeader {
    width: 20rem;
    aspect-ratio: 517 / 68;
    background-image: url('/Assets/fish-photobooth/menupage/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 1rem auto;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    width: 20rem;
    height: 5rem;
    padding: 0.5rem 1rem;
    color: #555555;
    font-family: 'Castoro', serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.menuButton:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .menuButton {
        width: 16rem;
        height: 4rem;
        font-size: 1.3rem;
    }
}