/* CSS Modules untuk Home component */
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.75rem;
    gap: 0.5rem;
    margin-top: 0;
    padding-top: 0;
}

@media (max-width: 768px) {
    .homeContainer {
        width: 90vw;
    }
}

.photoboothMock {
    z-index: 1;
    width: calc((375 / 604) * 100%);
    height: calc(534.4 / 574 * 100%);
    left: calc(114 / 604 * 100%);
    top: calc(20 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/animated-photobooth-mock/1.png');
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photostripMock {
    z-index: 2;
    width: calc((266.99 / 604) * 100%);
    height: calc(331.94 / 574 * 100%);
    right: calc(35 / 604 * 100%);
    top: calc(160 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/photostrip-straight.png');
    transform: rotate(16.52deg);
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bubblesMock {
    z-index: 2;
    width: calc((82.09 / 604) * 100%);
    height: calc(109 / 574 * 100%);
    left: calc(26 / 604 * 100%);
    top: calc(2 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/animated-bubbles-home/bubble-1.png');
    transform: rotate(-16.52deg);
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fishMock {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc((72.65 / 604) * 100%);
    height: calc(44.21 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/goldfish.png');
}

.selectButton {
    color: #555555;
    font-family: 'Castoro', serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.selectButton:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .selectButton {
        width: 8rem;
        height: 3.2rem;
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem;
        gap: 0.4rem;
    }
}