/* root variables */
:root {
    --main-background: #f5f4f0;
    --dark-green-theme: #2a4a53;
    --main-text: #555555;
    --white: #ffffff;
    --container-width: 500px;
    --container-aspect-ratio: 604 / 574;
    --fish-rotation: 7.52deg;
    --strip-rotation: 16.52deg;
    --bubble-rotation: -16.52deg;
}

/* body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem 0 2rem 0;
    gap: 0;
}

/* logo */
.logo {
    position: relative;
    width: 80px;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: auto;
}

/* containers */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.75rem;
    gap: 0.5rem;
    margin-top: 0;
    padding-top: 0;
}

.photobooth-container {
    position: relative;
    width: var(--container-width);
    aspect-ratio: var(--container-aspect-ratio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 2vh;
}

@media screen and (max-width: 768px) {
    .photobooth-container {
        width: 90vw;
    }
}

/* menu page */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 37.75rem;
    height: 100vh;
    gap: 0.75rem;
    margin-top: 3rem;
    padding: 0;
}

.menu-header {
    width: 20rem;
    aspect-ratio: 517 / 68;
    background-image: url('/Assets/fish-photobooth/menupage/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 1rem auto;
}

/* mock elements */
.photobooth-mock,
.photostrip-mock,
.bubbles-mock,
.fish-mock-1,
.fish-mock-2,
.fish-mock-3 {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

/* photobooth frame */
.photobooth-mock {
    z-index: 1;
    width: calc((375 / 604) * 100%);
    height: calc(534.4 / 574 * 100%);
    left: calc(114 / 604 * 100%);
    top: calc(20 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/animated-photobooth-mock/1.png');
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

/* photostrip */
.photostrip-mock {
    z-index: 2;
    width: calc((266.99 / 604) * 100%);
    height: calc(331.94 / 574 * 100%);
    right: calc(35 / 604 * 100%);
    top: calc(160 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/photostrip-straight.png');
    transform: rotate(var(--strip-rotation));
}

/* bubbles */
.bubbles-mock {
    z-index: 2;
    width: calc((82.09 / 604) * 100%);
    height: calc(109 / 574 * 100%);
    left: calc(26 / 604 * 100%);
    top: calc(2 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/animated-bubbles-home/bubble-1.png');
    transform: rotate(var(--bubble-rotation));
}

/* fishes */
.fish-mock-1 {
    z-index: 3;
    width: calc((72.65 / 604) * 100%);
    height: calc(44.21 / 574 * 100%);
    left: calc(25 / 604 * 100%);
    top: calc(251.34 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/goldfish.png');
    transform: rotate(calc(-1 * var(--fish-rotation)));
}

.fish-mock-2 {
    z-index: 3;
    width: calc((72.65 / 604) * 100%);
    height: calc(44.21 / 574 * 100%);
    left: calc(425.46 / 604 * 100%);
    top: calc(8.69 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/goldfish.png');
    transform: rotate(var(--fish-rotation));
}

.fish-mock-3 {
    z-index: 3;
    width: calc((72.65 / 604) * 100%);
    height: calc(44.21 / 574 * 100%);
    right: calc(60 / 604 * 100%);
    bottom: calc(10 / 574 * 100%);
    background-image: url('/Assets/fish-photobooth/homepage/goldfish.png');
    transform: rotate(calc(-1 * var(--fish-rotation)));
}

/* button styling */
.button-container {
    margin-top: 0;
}

button {
    color: var(--main-text);
    font-family: Castoro, serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--white);
    border: 1px solid #1e1e1e;
    border-radius: 0.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem 1rem;
}

#menu-camera-button,
#menu-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    width: 20rem;
    height: 5rem;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
    #select-button {
        width: 8rem;
        height: 3.2rem;
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem;
        gap: 0.4rem;
    }

    button {
        font-size: 1.5rem;
    }
}